<br>
<!-- end of navigation-->
<!--body where the first set of questions are -->
<div class="page-header no-margin">
	<div class="container" align="center">
		<img src="auto_cars/car1.jpg" class="img-responsive" style="height:100px">
	</div>
</div>


<table class="table">
  <tr class="auto-table-stripe"><td>Model : </td><td>BMW 2008 Series</td></tr>
  <tr><td>Cost :  </td><td>£22000</td></tr>
  <tr class="auto-table-stripe"><td>Transmission : </td><td>{{items[0].Model}}</td></tr>
  <tr><td>HorsePower : </td><td>uhmmm</td></tr>
  <tr class="auto-table-stripe"><td>No of Seats : </td><td>4 seats</td></tr>
  <tr><td>Age : </td><td>Brand New</td></tr>
  <tr class="auto-table-stripe"><td>Mileage :  </td><td></td></tr>
  <tr><td>No of Doors : </td><td>5 Doors</td></tr>
  <tr class="auto-table-stripe"><td>Color : </td><td>Black</td></tr>
  <tr><td>Co2 : </td><td>Emmission</td></tr>

</table>

</div>

<!--Footer-->
<footer class="site-footer navbar-default">
  <div class="container">
    <div class="row">
      <div align="center">
        <div align="center">
          <a class="btn btn-primary btn-md  pull-left auto-footer-btn" href="results.html" role="button">Back to Garage</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/Footer-->
<!--end of first questions-->

