
<div  id="wrapper">
  <!--header-->
  <!--<div class="page-header no-margin visible-lg">
      <div class="container">
          <img src="auto_icons/autotrader.png" class="img-responsive" style="height:100px">
      </div>
  </div>-->
  <!--end of header-->


  <!--side panel-->


  <!--body where the first set of questions are --><br><br><br>
  <div class="container-fluid">
    <div class="page-header no-margin">
      <div class="container" align="center">
        <h2 class="auto-engrave">Smart Search</h2>
        <small class="text-justify">
          This Search allows you to be able to filter your search according to your lifestyle, finding a number of suitable cars that let you express yourself...
        </small><br>
        <a class="btn btn-primary btn-xs pull-right" role="button" href="#/smartsearch">Define Yourself</a>
      </div>
    </div>
    <div class="page-header">
      <div class="container" align="center">
        <img src="images/auto.png" class="img-responsive" style="height:100px">
      </div>
    </div>
    <div class="page-header no-margin">
      <div class="container" align="center">
        <h2 class="auto-engrave">Questions Filter</h2>
        <small class="text-justify">
          This Search provides a comfortable process to cut down your search according to the size of your needs
        </small><br>
        <a class="btn btn-primary btn-xs pull-right" role="button" href="#/smartsearch">Answer Questions</a>
      </div>
    </div>
  </div>
</div>
<!--end of container-->




<!--Footer-->
<!--<footer class="site-footer">
	<div class="container">
		<div class="row">
				<img src="auto.png" style="width:20%; height:100%; position:absolute; top:0%; left:40%;">
			</div>
    </div>
</footer>-->
<!--/Footer-->
<!--end of first questions-->


<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

